%h1 Welcome to weather scraper!
%table
  %th Location
  %th Rainfall Intensity (mm/hour)
  %th Temperature (Degree Celsius)
  %th Dew Point (Degree Celsius)
  %th Wind Speed (km/h)
  %th Wind Direction (degrees)
  %th Time Read (UTC)
  - @weather_stations.each do |weather_station|
    %tr
      - reading = weather_station.readings.last
      %td= weather_station.name
      %td= reading.rainfall_amount
      %td= reading.temperature
      %td= reading.dew_point
      %td= reading.wind_speed
      %td= reading.wind_direction
      %td= reading.created_at.strftime("%Y-%m-%d %H:%M:%S")

%br
%span data obtained from:
=link_to "http://www.bom.gov.au/vic/observations/melbourne.shtml", "http://www.bom.gov.au/vic/observations/melbourne.shtml", blank: true