<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114283804-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114283804-1');
    </script>
    <title>Weather Scraper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//j.wovn.io/1" data-wovnio="key=URmTqy" async></script>
  </head>

  <body>
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
  </body>
</html>
